@media (max-width: 414px){
    body {
        background-image: url(../img/fondo.png);
        background-size: cover;
        background-repeat: repeat;
        background-position: center center;
    }
    .content_logo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 58vh;
    }
    .content_logo h1 {
        font-family: "Hind-Light";
        color: #fff;
        position: absolute;
        top: 3em;
        text-transform: uppercase;
        font-size: 1.5em;
        left: 6em;
    }
    .content_logo img {
        width: 70%;
    }
    .content_logo p {
        top: 16em;
        font-size: 1em;
        left: 3em;
        padding: 16px 0%;
        text-align: center;
        width: 77%;
    }
    .content_logo h3 {
        font-family: "/Hind-Bold";
        color: #fff;
        position: absolute;
        top: 14em;
        left: 0em;
        font-size: 1.4em;
        width: 100%;
        text-align: center;
    }
    .form_login input {
        border: 0;
        border-radius: 8px;
        width: 64%;
        height: 28px;
        margin-bottom: 10px;
        margin-left: 0;
        padding-left: 46px;
    }
    .form_control img {
        left: 18%;
    }
    #btn_recordar_usuario {
        width: 37%;
        padding-left: 0px;
        text-align: left;
    }
    #recordar_usuario {
        width: 7%;
    }
    #btn_recordar_pass {
        width: 36%;
        text-align: right;
        padding-left: 16px;
    }
    .form_control_two {
        padding-left: 0px;
    }
}